#body-header{
    width: 100%;
    display: block;
    grid-area: hd;
}

#hd-h1title{
    text-align: center;
}

#posts-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}

#outer-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 0.5fr;
    grid-template-areas: "hd" "main" "ft";
}

#body-footer{
    grid-area: ft;
}

#body-main{
    grid-area: main;
}